*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* padding-bottom: 100px; */
    
}

#image{
    position: relative;
    width: var(--imgWidth);
    height: var(--imgHeight);
    border: var(--imgBorder) solid #fff;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-image: var(--img); /* main frame image (not the zoomed one) */
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

#home-image{
    position: relative;
    width: 90%;
    height: 90%;
    border: var(--imgBorder) solid #fff;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
    background-position: center;
     /* main frame image (not the zoomed one) */
    /* background-repeat: no-repeat;
    background-size: contain; */
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.image-name{
    margin-left: 28%;
}
#range{
    position: absolute;
    padding: 0px 5px;
    border: var(--imgBorder) solid #fff;
    background-color: #fff;
    left:  calc(var(--imgBorder) * -1);
    transform: translateY(-100%);
    border-radius: 10px 10px 0px 0px;
    user-select: none;
}
#range input{
    cursor: pointer;
}
#glass{
    width: calc(var(--glassRadious)*8);
    height: calc(var(--glassRadious)*8);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0%;
    position: absolute;
    right: 0px;
    top: 500px;
    transform: translate(-50%, -50%);
    background-image: var(--img);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: calc((var(--imgWidth)) * var(--m)) calc(var(--imgHeight) * var(--m));
    background-position: calc((var(--glassRadious) + 182px) - var(--x) * var(--m)) calc((var(--glassRadious) + 160px) - var(--y) * var(--m));
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 992px) and (max-width: 1369px){
    #glass{
        background-position: calc((var(--glassRadious) + 110px) - var(--x) * var(--m)) calc((var(--glassRadious) + 109px) - var(--y) * var(--m));
    }
}

#eventLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#eventLayer:active{
    cursor: pointer;
}
.cursor {
    position: fixed;
    border-radius: 0%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: 100px;
    top: 50%;
    mix-blend-mode: difference;
    /* background-color: rgb(141, 51, 51); */
    z-index: 10000;
    border: 2px solid rgb(203, 131, 245);
    height: calc(165px / (var(--m) - 2));
    width: calc(165px / (var(--m) - 2));
    transition: all 0ms ease-out;
}

.zoom-part{
    display: block;
    margin-left: auto;
    margin-right: 15%;
    /* margin-bottom: 93px; */
}

/* .zoom-text{
    display: contents;
    margin-left: auto;

} */